<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic com Firebase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="fGroup" method="POST">
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Nome:</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">E-mail:</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Telefone:</ion-label>
          <ion-input type="tel" [brmasker]="{phone: true}"  formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Endereço:</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
      </ion-list>
    </form>
      <ion-button (click)="register()" [disabled]="!fGroup.valid" expand="block" type="submit" class="ion-no-margin">Enviar</ion-button>
  </div>
</ion-content>
